go 1.22.2

use (
	./arrayslice
	./concurrency
	./consul
	./dicts
	./etcd
	./goroutineexit
	./grpc
	./hello
	./http
	./integer
	./iteration
	./players
	./redis
	./reflects
	./selects
	./string
	./structs
	./wallets
	./zookeeper
)
